<div class="container py-5 mt-4">

<!--Grid column-->
<div class="col-lg-12 col-md-12 col-sm-12">

    <!--Card-->
    <div class="card card-cascade wider">

        <!--Card image-->
        <div class="view view-cascade gradient-card-header peach-gradient">
            <h2 class="card-header-title mb-2">Page not found 404</h2>
            <!-- <p class=""><i class="fa fa-calendar"></i> 26.07.2017</p> -->

        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body card-body-cascade text-center">

            <p class="card-text mr-2 ml-2">
              Pagina no encontrada.
            </p>

            <!-- <a href="#" class="orange-text mt-1 d-flex flex-row-reverse">
                <h5 class="waves-effect p-2" mdbWavesEffect>Read more <i class="fa fa-chevron-right"></i></h5>
            </a> -->
        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->

</div>
<!--Grid column-->

</div>